
@use 'styles/colors';

:local {

  .wrap {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 5px;
    background-color: #f3f3f3;
    padding: 1em;
    font-size: 13px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition:
      background-color 0.1s ease;

    &.isDraggingOver {
      background-color: #ddd;
    }

    &.hasItem {
      border: 1px solid colors.$border;
      background-color: white;
      &:hover {
        .removeBtn {
          opacity: 1;
        }
      }

    }

    &:not(.hasItem) {
      .removeBtn {
        pointer-events: none;
      }
    }

    .removeBtn {
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 5px;
      z-index: 10;
      appearance: none;
      background-color: black;
      color: white;
      border: none;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      padding: 0;
      opacity: 0;
      transition:
        opacity 0.1s ease,
        background-color 0.1s ease;

      &:hover {
        background-color: rgba(0, 0, 0, 0.75)
      }
    }

    .upgradeBtn {
      &.disabled {
        pointer-events: none;
        opacity: 0.5;
      }
    }

    p {
      margin: 2px 0;
      text-align: center;

      &.name {
        font-weight: bold;
      }

      &.level {
        color: #999;
      }

    }

  }

}

