
@use 'styles/colors';

:local {

  .wrap {
    font-size: 13px;

    &:not(.canAfford) {
      pointer-events: none;
      opacity: 0.25;
    }

    &.isDragging {
      .item {
        border: 1px solid colors.$border;
      }
    }

    .item {
      width: 100px;
      height: 100px;
      padding: 1em;
      border: 1px solid colors.$border;
      background-color: white;
      border-radius: 5px;
      cursor: grab;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;

      transition:
        border-color 0.2s ease,
        opacity 0.1s ease;

      &:hover {
        &:not(.isDragging) {
          border-color: colors.$highlight;
        }
      }

      p {
        margin: 2px 0;
        text-align: center;

        &.name {
          font-weight: bold;
        }

        &.cost {

        }

      }

    }

  }

}

