
@use 'styles/colors';

:local {

  .wrap {
    position: relative;
    margin: -1px 0 0 -1px;
    width: 100px;
    height: 100px;
    padding: 1em;
    border: 1px solid colors.$border;
    background-color: yellow;
    border-radius: 5px;

    display: flex;
    justify-content: center;
    align-items: center;

    transition:
      background-color 0.1s ease;

    p {
      margin: 0;
      display: inline-block;
    }

    &:hover {
      .removeBtn {
        display: block;
      }
    }

    .removeBtn {
      cursor: pointer;
      position: absolute;
      top: 5px;
      right: 5px;
      display: none;
      appearance: none;
      background-color: black;
      color: white;
      border: none;
      border-radius: 50%;
      width: 25px;
      height: 25px;
      padding: 0;

      &:hover {
        background-color: rgba(0, 0, 0, 0.75)
      }
    }
  }

}

