
@use 'styles/colors';

:local {

  .wrap {
    margin: -1px 0 0 -1px;
    width: 100px;
    height: 100px;
    padding: 1em;
    border: 1px solid colors.$border;
    background-color: yellow;
    border-radius: 5px;

    transition:
      background-color 0.1s ease;

    p {
      margin: 0;
    }
  }

}

