
@use 'styles/colors';

:local {

  .wrap {
    padding: 50px;

    h2 {
      margin: 0
    }

    p.stats {
      .balance {

      }
      .cycleValue {

      }
    }

    .layout {
      display: flex;
      gap: 100px;
    }

    ul {
      list-style: none;
      padding: 0;
      margin: 0;
    }

    .grid {
      display: grid;
      grid-template-columns: repeat(5, 100px);
      grid-template-rows: repeat(5, 100px);
      gap: 8px;
    }

    .shop {
      display: grid;
      grid-template-columns: repeat(2, 100px);
      grid-template-rows: repeat(5, 100px);
      gap: 8px;

    }

  }

}

